.toggle-button {
  position: fixed;
  right: 30px;
  bottom: 20px;
  font-size: 30px;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  translate: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
  animation: float 3s ease-in-out infinite;
}

@keyframes float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0px);
  }
}
